{% extends "base.html" %}
{% block title %}Dodawanie zawodników do zawodów{% endblock %}
{% block content %}
{% if request.session.user %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Dodawanie zawodników do: {{category.name}}</h3>
	</div>
	<div class="col-lg-4">
		<table class="table table-hover table-condensed">
			<tr>
				<th colspan="2">Zawodnicy</th>
			</tr>
			<br>
			{% for player in players %}
			<tr>
				<td class="col-md-3">{{player.name}} {{player.surname}}</td><td class="col-md-3" align="center"><a href="{% url 'kyoPlayerToCategory' player.id category.id %}"> + </a></td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endif %}
{% endblock %}
