{% extends "base.html" %}
{% block title %} Karate shotokan {% endblock %}
{% block header %} Edytowanie kategorii: {% endblock %}
{% block content %}

<form method="post" action="">
	{% csrf_token %}
    <table class="table" style="width: 10%">
        <tr>
            <td><label>Nazwa: </label>
            <td>{{ form.name }}</td>
        </tr>
        <tr>
            <td><label>Typ: </label>
            <td>{{ form.type_fight }}</td>
        </tr>
        <tr>
            <td><input type="submit" class="btn btn-default btn-primary" value="Zatwierdź"></td>
            <td><a href="javascript:history.back()" class="btn btn-default btn-primary">Anuluj</a></td>
        </tr>
    </table>
</form>
{% endblock %}
